<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello Dear user
<form action="/" method="post">
    <label for="name">Name</label>
    <input name="name" placeholder="Введите имя" type="text"  id="name">
    <br>
    <label for="email">Email</label>
    <input name="email" placeholder="введите email" type="text" id="email">
    <br>
    <select id="positionPeople" name="positionPeople">
        <option value=""> </option>
        <option value="SELLER">Seller</option>
        <option value="TESTER">Tester</option>
        <option value="DEVELOPER">Developer</option>
        <option value="MANAGER">Manager</option>
    </select>
    <BR>
    <input type="submit">
</form>
</body>
</html>